<!DOCTYPE html>
<html>
    <head>
        <title>Bandeja de Actualizaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="../js/actualizaciones/index.js" type="text/javascript"></script>
        
        <script src="../js/jquery/jquery.media.js" type="text/javascript"></script>
        <script src="../js/jquery/jquery.metadata.js" type="text/javascript"></script>
        
    </head>
    <body>
        <div>
             <legend style="font-size: 18px; color: #00356a; font-weight: bold">Gesti&oacute;n de Actualizaciones</legend>
                <div class="example">
                    <table class="table striped hovered dataTable" id="actualizaciones-dt">
                        <thead>
                            <tr>    
                                <th class="text-left">Consec</th>  
                                <th class="text-left">Tipo</th>  
                                <th class="text-left">Identificaci&oacute;n</th>        
                                <th class="text-left">Primer Nombre</th>
                                <th class="text-left">Segundo Nombre</th>
                                <th class="text-left">Primer Apellido</th>
                                <th class="text-left">Segundo Apellido</th>
                                <th class="text-left">Fecha</th>                                
                                <th class="text-left">&nbsp;&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="4" class="dataTables_empty">Cargando datos</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <th class="text-left">Consec</th>
                                <th class="text-left">Tipo</th>
                                <th class="text-left">Identificaci&oacute;n</th>        
                                <th class="text-left">Primer Nombre</th>
                                <th class="text-left">Segundo Nombre</th>
                                <th class="text-left">Primer Apellido</th>
                                <th class="text-left">Segundo Apellido</th>
                                <th class="text-left">Fecha</th>                               
                                <th class="text-left">&nbsp;&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>            
        </div>
        <div id="validacion-dlg" title="Validación de datos personales" style="display: none"></div>
    </body>
</html>
