<div class="bg-dark">
    <div class="container" style="padding: 10px 0;">

        <div class="grid no-margin">
            <div class="row no-margin">               
                <div class="span6 padding10">
                    <h4 class="fg-white">Acerca del autor - Comfacauca Dev 2014</h4>                    
                </div>
                
            </div>
        </div>
    </div>

    <div class="container tertiary-text bg-dark fg-white" style="padding: 10px">
        2014, XML C2 &copy; by  <a href="mailto:analista2@comfacauca.com" class="fg-yellow">Eduar Orozco</a>
    </div>
</div>
