<nav class="navigation-bar dark fixed-top shadow">
        <nav class="navigation-bar-content">
            <a class="element" href="index.jsp">
                <span class="icon-grid-view"></span>
                Acceso y Seguridad Comfacauca
                <sup>1.0</sup>
            </a>
            <span class="element-divider"></span>
           
            <span class="element-divider"></span>

            <div class="element">
                <a class="dropdown-toggle" href="#"><span class="icon-grid-view"></span>Seguridad</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="#"  class="dropdown-toggle">Mantenimiento</a>     
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="/comfacauca-linea-web/MenuControl?accion=aplicaciones">Aplicaciones</a></li>
                            <li><a href="/comfacauca-linea-web/MenuControl?accion=areas">Áreas</a></li>
                            <li><a href="/comfacauca-linea-web/MenuControl?accion=usuarios">Usuarios</a></li>
                            <li><a href="/comfacauca-linea-web/MenuControl?accion=roles">Roles</a></li>
                            <li><a href="/comfacauca-linea-web/MenuControl?accion=recursos">Recursos</a></li>                            
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/comfacauca-linea-web/MenuControl?accion=permisos">Permisos</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Salir</a></li>                       
                </ul>
            </div>

            <span class="element-divider"></span>

            <a class="element brand" href="#"><span class="icon-spin"></span></a>
            <a class="element brand" href="#"><span class="icon-printer"></span></a>
            <span class="element-divider"></span>

            
            
            <div class="element input-element">
                <form>
                    <div class="input-control text" >
                        <input id="buscar" type="text" size="40" placeholder="Buscar...">
                        <!--<button class="btn-search"></button>-->
                    </div>
                </form>
            </div>
            
            <span class="element-divider place-right"></span>
            <a class="element place-right" href="/comfacauca-linea-web/LogoutControl">                
                <img src="media/images/exit.png" width="24px" height="24px" id="salir" />                
            </a>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right">
                
             
                <img src="media/images/user.png"/>
            </button>
            
        </nav>
    </nav>

