<style>
    .error-input{color: red}
</style>
<div>    
    <form id="trabajadores-frm" enctype="multipart/form-data">
            <div id="empresa-1">  
                <table>
                    <tr>
                        <td class="ui-widget-header">
                            Identificaci&oacute;n (NIT):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td id="ideempresa"></td>
                    </tr>
                    <tr>
                        <td class="ui-widget-header">
                            Raz&oacute;n Social:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td id="empresa"></td>
                    </tr>
                </table>
            </div>
        <div id="trabtabs">
            <ul>
                    <li><a href="#trabtabs-1">Informaci&oacute;n del Trabajador</a></li>
                    <li><a href="#trabtabs-2">Informaci&oacute;n de los Beneficiarios</a></li>                   
                </ul>
                
                <div id="trabtabs-1"> 
                    
                    <table class="ui-state-default">
                        <tr>
                            <td>
                                <label for="tipoide">Tipo Identificaci&oacute;n</label>
                                <select class='text ui-widget-content ui-corner-all' style="width: 220px"  name='tipoide' id='tipoide'></select>
                            </td>
                            <td>
                                <label for="ide">No. de Identificaci&oacute;n</label> 
                                
                                <input name="ide" id="ide" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                                <input name="ideorigen" id="ideorigen" type="hidden" />
                                <input name="tblorigen" id="tblorigen" type="hidden" value="subsi15" />
                            </td>
                            <td>
                                <label for="fechanac">Fecha Nacimiento</label> 
                                
                                <input name="fechanac" id="fechanac"  class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="genero">Genero</label>
                                <select class='text ui-widget-content ui-corner-all' style="width: 220px"  name='genero' id='genero'/></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="nom1">Primer Nombre</label> 
                                <input onkeyup="this.value = this.value.toUpperCase()" name="nom1" id="nom1" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="nom2">Segundo Nombre</label> 
                                <input onkeyup="this.value = this.value.toUpperCase()" name="nom2" id="nom2" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="ape1">Primer Apellido</label> 
                                <input onkeyup="this.value = this.value.toUpperCase()" name="ape1" id="ape1"class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="ape2">Segundo Apellido</label> 
                                <input onkeyup="this.value = this.value.toUpperCase()" name="ape2" id="ape2" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="estcivil">Estado civil</label>
                                <select class='text ui-widget-content ui-corner-all' style="width: 220px"  name='estcivil' id='estcivil'></select>
                            </td>
                            <td>
                                <label for="direccion">Direcci&oacute;n</label>
                                <input onkeyup="this.value = this.value.toUpperCase()" name="direccion" id="direccion" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="100" />
                            </td>
                            <td>
                                <label for="telefono">Tel&eacute;fono</label> 
                                <input name="telefono" id="telefono" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="correo">Correo Electr&oacute;nico</label>
                                <input name="correo" id="correo" class="text ui-widget-content ui-corner-all email" type="text" size="20" maxlength="100" />
                            </td>
                        </tr>                        
                        <tr>                            
                            <td>
                                <label for="telefonomov">Tel&eacute;fono M&oacute;vil</label> 
                                <input name="telefonomov" id="telefonomov" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="20" />
                            </td>
                            <td>
                                <label for="direccioncorres">Direcci&oacute;n Correspondencia</label>
                                <input name="direccioncorres" id="direccioncorres" class="text ui-widget-content ui-corner-all email" type="text" size="20" maxlength="100" />
                            </td>
                            <td>
                                <label for="fecexp">Fec Exp Documento</label>
                                <input name="fecexp" id="fecexp" class="text ui-widget-content ui-corner-all" type="text" size="20" maxlength="100" />
                            </td>
                        </tr>
                    </table> 
                   
                    <legend style="font-size: 14px; color: #00356a; font-weight: bold">Documentos Soporte</legend>
                    <table class="ui-state-default">
                        <tr>
                            <td>C&eacute;dula en formato PDF</td>
                            <td>Documentos de soporte</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="cedulapdf">Archivo</label>
                                <input name="cedulapdf" id="cedulapdf" class="text ui-widget-content ui-corner-all" type="file" />                                    
                            </td>  
                            <td>    
                                <ul style="display: none" id="soportes"></ul>
                            </td>
                        </tr>                        
                    </table>     
                </div>
            
                <div id="trabtabs-2">   
                    Befenfis
                </div>
  
            
            
            </div>
    </form>    
</div>